form(name="reset_form", action="ajax.php", class="max-w-xs md:max-w-full px-3 md:px-0 mx-auto", x-data="resetForm()", x-spread="submit")
    include ../../partials/pages/login

    div(class="mb-4")
        -
            password = {
                name: 'password_new',
                label: 'Новый пароль',
                placeholder: 'Введите новый пароль',
                desc: 'Пароль должен быть не менее 8 символов'
            }
        include ../../partials/pages/password

    div(class="mb-8 md:mb-12 sm:mb-10")
        -
            password = {
                name: 'password_confirm',
                label: 'Повторите пароль',
                placeholder: 'Повторите новый пароль',
                desc: 'Оба пароля должны совпадать'
            }
        include ../../partials/pages/password

    - submit = 'Восстановить пароль';
    include ../../partials/pages/submit
