/* lato-100 */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 100;
    src: local(''),
    url('../fonts/Lato-Hairline.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
    url('../fonts/Lato-Hairline.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* lato-200 */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 200;
    src: local(''),
    url('../fonts/Lato-Thin.woff2') format('woff2'),
    url('../fonts/Lato-Thin.woff') format('woff');
}

/* lato-300 */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    src: local(''),
    url('../fonts/Lato-Light.woff2') format('woff2'),
    url('../fonts/Lato-Light.woff') format('woff');
}

/* lato-400 - latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local(''),
    url('../fonts/Lato-Regular.woff2') format('woff2'),
    url('../fonts/Lato-Regular.woff') format('woff');
}

/* lato-500 */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 500;
    src: local(''),
    url('../fonts/Lato-Medium.woff2') format('woff2'),
    url('../fonts/Lato-Medium.woff') format('woff');
}

/* lato-600 */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    src: local(''),
    url('../fonts/Lato-Semibold.woff2') format('woff2'),
    url('../fonts/Lato-Semibold.woff') format('woff');
}

/* lato-700 */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local(''),
    url('../fonts/Lato-Bold.woff2') format('woff2'),
    url('../fonts/Lato-Bold.woff') format('woff');
}

/* lato-800 */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 800;
    src: local(''),
    url('../fonts/Lato-Heavy.woff2') format('woff2'),
    url('../fonts/Lato-Heavy.woff') format('woff');
}

/* lato-900 */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    src: local(''),
    url('../fonts/Lato-Black.woff2') format('woff2'),
    url('../fonts/Lato-Black.woff') format('woff');
}