div(class="flex justify-start items-center my-5 md:hidden")
    span(class="flex justify-center items-center h-6 rounded-full bg-green-70 px-3 mr-3")
        span(class="text-white text-sm")
            | #{console_number}
    span(class="font-medium text-black text-sm")
        | Пультовый номер