form(name="login_form", class="max-w-xs md:max-w-full px-3 md:px-0 mx-auto", x-spread="spread")
    fieldset(x-show="step === 1")
        include login

        -
            submit = {
                title: 'Получить пароль',
                step: 1
            }
        include submit

    fieldset(x-show="step === 2", x-cloak)
        include password

        -
            submit = {
                title: 'Войти',
                step: 2
            }
        include submit