- cls = 'w-full rounded-md border text-base text-black font-normal h-12 pl-4 placeholder-black placeholder-opacity-100 focus:border-purple-40 md:h-16 sm:text-xs sm:h-12 sm:pl-3'

input(type="text", name="login", aria-label="Логин", placeholder="+38(___)___-__-__", class="mb-4 pr-4 sm:pr-3 " + cls, x-spread="fields.login.spread", x-model="fields.login.value")