- cls1 = 'w-full rounded-md border text-base text-black font-normal h-12 pl-4 placeholder-black placeholder-opacity-100 focus:border-purple-40 md:h-16 sm:text-xs sm:h-12 sm:pl-3'
- cls2 = 'absolute top-0 right-0 bottom-0 flex justify-center items-center w-8 px-1 mr-2 text-purple-80 hover:text-purple-40 focus:text-purple-40 sm:px-2'

div(class="mb-4 relative")
    input(name="password", aria-label="Пароль", placeholder="Введите пароль", class="pr-10 " + cls1, x-spread="fields.password.spread", x-model="fields.password.value")

    button(type="button", aria-label="Показать пароль", class=cls2, x-show="!show", @click="show = true")
        - svg = {width: 22, height: 20, name: 'show'}
        include ../../partials/pages/svg

    button(type="button", aria-label="Скрыть пароль", class=cls2, x-show="show", @click="show = false", x-cloak)
        - svg = {width: 22, height: 18, name: 'hide'}
        include ../../partials/pages/svg