header(x-data="{show: false}")
    -
        lg_top = {
            left: {
                // index: {
                //     link: 'index.html',
                //     text: 'Главная',
                //     number: 0,
                //     svg: {
                //         width: '14',
                //         height: '12',
                //         name: 'home'
                //     }
                // },
                contracts: {
                    link: 'contracts.html',
                    text: 'Договоры',
                    number: 2,
                    svg: {
                        width: '13',
                        height: '15',
                        name: 'contracts'
                    }
                },
                // settings: {
                //     link: 'settings.html',
                //     text: 'Настройки',
                //     number: 0,
                //     svg: {
                //         width: '14',
                //         height: '14',
                //         name: 'settings'
                //     }
                // },
                contacts: {
                    link: 'contacts.html',
                    text: 'Контакты',
                    number: 0,
                    svg: {
                        width: '12',
                        height: '12',
                        name: 'contacts'
                    }
                }
            },
            right: {
                login: {
                    link: 'login.html',
                    text: 'Выход',
                    number: 0,
                    svg: {
                        width: '12',
                        height: '12',
                        name: 'logout'
                    }
                }
            }
        }
    div(class="bg-purple-80 md:hidden")
        div(class="w-full mx-auto px-5 md:px-6 sm:px-5 xs:px-3 flex justify-between", data-c-container)
            each edge in lg_top
                div(class="flex justify-start items-center space-x-8")
                    each menu in edge
                        include menu/lg-top
    -
        lg_bottom = {
            // events: {
            //     link: 'events.html',
            //     text: 'История',
            //     svg: {
            //         width: '15',
            //         height: '12',
            //         name: 'events'
            //     }
            // },
            // report: {
            //     link: 'report.html',
            //     text: 'Отчёт',
            //     svg: {
            //         width: '14',
            //         height: '12',
            //         name: 'report'
            //     }
            // },
            // act: {
            //     link: 'act.html',
            //     text: 'Акт',
            //     svg: {
            //         width: '11',
            //         height: '14',
            //         name: 'act'
            //     }
            // },
            // cameras: {
            //     link: 'cameras.html',
            //     text: 'Камеры',
            //     svg: {
            //         width: '14',
            //         height: '11',
            //         name: 'cameras'
            //     }
            // },
            // control: {
            //     link: 'control.html',
            //     text: 'Управление',
            //     svg: {
            //         width: '11',
            //         height: '16',
            //         name: 'control'
            //     }
            // }
        }
    div(class="bg-white md:hidden shadow-lg mb-5")
        div(class="w-full mx-auto px-5 md:px-6 sm:px-5 xs:px-3", data-c-container)
            div(class="flex justify-start items-center space-x-5")
                each menu in lg_bottom
                    include menu/lg-bottom
    //- гамбургер
    div(class="bg-purple-80 hidden md:block px-6 sm:px-5 xs:px-3")
        div(class="flex justify-between items-center h-24 sm:h-16 py-2")
            - cls = 'flex justify-center items-center p-1 h-8 sm:h-6 w-8 sm:w-6 text-white hover:text-purple-20 focus:text-purple-20'
            button(type="button", class=cls, @click.stop="show = true")
                - svg = {width: 25, height: 16, name: 'hamburger'}
                include ../../partials/pages/svg
            case page.menu.mode
                when 'contracts'
                    include md-header/contracts
                when 'contract'
                    include md-header/contract
                default
                    include md-header/default
    -
        md_top = {
            // index: {
            //     link: 'index.html',
            //     text: 'Главная',
            //     number: 0,
            //     svg: {
            //         width: '28',
            //         height: '24',
            //         name: 'home'
            //     },
            //     children: false
            // },
            contracts: {
                link: 'contracts.html',
                text: 'Договоры',
                number: 2,
                svg: {
                    width: '25',
                    height: '29',
                    name: 'contracts'
                },
                children: {
                    0: {
                        link: 'contract.html',
                        text: 'Договор № 1'
                    },
                    1: {
                        link: 'contract.html',
                        text: 'Договор № 2'
                    }
                }
            },
            // settings: {
            //     link: 'settings.html',
            //     text: 'Настройки',
            //     number: 0,
            //     svg: {
            //         width: '27',
            //         height: '28',
            //         name: 'settings'
            //     },
            //     children: false
            // },
            contacts: {
                link: 'contacts.html',
                text: 'Контакты',
                number: 0,
                svg: {
                    width: '25',
                    height: '25',
                    name: 'contacts'
                },
                children: false
            },
            login: {
                link: 'login.html',
                text: 'Выход',
                number: 0,
                svg: {
                    width: '25',
                    height: '25',
                    name: 'logout'
                },
                children: false
            }
        }
    - cls = 'bg-purple-80 hidden md:block fixed z-10 top-0 bottom-0 left-0 w-3/4 overflow-y-auto overflow-x-hidden shadow-2xl transition-transform ease-linear duration-300 transform'
    div(class=cls, x-show="show", x-cloak, @click.away="show = false",
        x-transition:enter-start="-translate-x-full", x-transition:enter-end="translate-x-0",
        x-transition:leave-start="translate-x-0", x-transition:leave-end="-translate-x-full"
    )
        div(class="px-3")
            div(class="flex justify-end items-center h-16 sm:h-12 mb-1")
                - cls = 'flex justify-center items-center p-1 h-8 sm:h-6 w-8 sm:w-6 text-white hover:text-purple-20 focus:text-purple-20'
                button(type="button", class=cls, @click="show = false")
                    - svg = {width: 20, height: 20, name: 'cross'}
                    include ../../partials/pages/svg
            each menu in md_top
                if menu.children
                    - cls = 'p-3 mb-1 rounded-xl sm:rounded-lg transition duration-300 ease-linear'
                    div(class=cls, :class="show ? 'bg-purple-60 shadow-2xl' : 'bg-transparent shadow-none'", x-data="maxHeightData()", x-init="maxHeightClick", x-spread="maxHeightResize")
                        include menu/md-top
                else
                    div(class="p-3 mb-1")
                        include menu/md-top