extends ../layouts/app

block data
    -
        page = {
            title: {
                text: 'Настройки',
                number: 0
            },
            menu: {
                mode: 'default'
            },
            link: 'settings.html'
        }

block main
    include ../partials/pages/h1