extends ../layout

block title
    | #{titles.cameras.text}

block header
    - md_header = {mode: 'default', text: titles.cameras.text, number: titles.cameras.number}
    - menus.lg_bottom.cameras.current = true
    include ../layout/header

block main
    main(class="asgar--container w-full mx-auto px-5 md:px-6 sm:px-5 xs:px-3 flex-grow")
        - title = titles.cameras
        include ../partials/h1

block footer
    - menus.md_bottom.cameras.current = true
    include ../layout/footer