extends ../layouts/app

block data
    -
        page = {
            title: {
                text: 'Управление',
                number: 0
            },
            menu: {
                mode: 'default'
            },
            link: 'control.html'
        }

block main
    include ../partials/routes/h1