extends ../layout

block title
    | #{titles.contracts.text}

block header
    - md_header = {mode: 'contracts'}
    - menus.lg_top.left.contracts.current = true
    - menus.md_top.contracts.current = true
    include ../layout/header

block main
    main(class="asgar--container w-full mx-auto px-5 md:px-6 sm:px-5 xs:px-3 flex-grow")
        - sum = 320.15
        - pay = '#'
        - account = '#'
        -
            group = {
                title: 'Договоры',
                number: 4,
                cards: {
                    0: {
                        title: 'Договор № 64321',
                        link: 'contract.html',
                        address: 'пр. Московский 172/12',
                        debt: true,
                        sum: '102.00'
                    },
                    1: {
                        title: 'Договор № 057264',
                        link: 'contract.html',
                        address: 'пр. Московский 172/12',
                        debt: false,
                        sum: '102.00'
                    },
                    2: {
                        title: 'Договор № 44345',
                        link: 'contract.html',
                        address: 'пр. Московский 172/12',
                        debt: false,
                        sum: '102.00'
                    },
                    3: {
                        title: 'Договор № 44345',
                        link: 'contract.html',
                        address: 'пр. Московский 172/12',
                        debt: false,
                        sum: '102.00'
                    }
                }
            }
        include ../route/contracts/info
        include ../route/contracts/group
        include ../route/contracts/buttons

block footer
    include ../layout/footer