extends ../layouts/app

block data
    -
        page = {
            title: {
                text: 'Контакты',
                number: 0
            },
            menu: {
                mode: 'default'
            },
            link: 'contacts.html'
        }

block main
    include ../partials/routes/h1
    -
        cards = {
            0: {
                title: 'Заказать выезд технического специалиста',
                phone: '+38 (095) 123-45-67',
                link: '#'
            },
            1: {
                title: 'Связаться с пультом охраны',
                phone: '+38 (095) 123-45-67',
                link: '#'
            },
            2: {
                title: 'Связаться с юридическим отделом',
                phone: '+38 (095) 123-45-67',
                link: '#'
            },
            3: {
                title: 'Связаться с финансовым отделом',
                phone: '+38 (095) 123-45-67',
                link: '#'
            },
            4: {
                title: 'Заказать новое подключение',
                phone: '+38 (095) 123-45-67',
                link: '#'
            },
            5: {
                title: 'Заказать дооборудование системы',
                phone: '+38 (095) 123-45-67',
                link: '#'
            },
            6: {
                title: 'Техническая поддержка',
                phone: '+38 (095) 123-45-67',
                link: '#'
            }
        }
    include ../route/contacts/group