extends ../layouts/app

block data
    -
        page = {
            title: {
                text: 'События',
                number: 2
            },
            menu: {
                mode: 'default'
            },
            link: 'events.html'
        }

block main
    include ../partials/routes/h1
    -
        groups = {
            0: {
                date: 'Сегодня',
                cards: {
                    0: {
                        time: '17.00',
                        text: 'Приезд и штатная проверка'
                    },
                    1: {
                        time: '17.00',
                        text: 'Приезд и штатная проверка'
                    },
                    2: {
                        time: '17.00',
                        text: 'Приезд и штатная проверка'
                    },
                    3: {
                        time: '17.00',
                        text: 'Приезд и штатная проверка'
                    },
                    4: {
                        time: '17.00',
                        text: 'Приезд и штатная проверка'
                    }
                }
            },
            1: {
                date: '12.12.2020',
                cards: {
                    0: {
                        time: '17.00',
                        text: 'Приезд и штатная проверка'
                    },
                    1: {
                        time: '17.00',
                        text: 'Приезд и штатная проверка'
                    },
                    2: {
                        time: '17.00',
                        text: 'Приезд и штатная проверка'
                    },
                    3: {
                        time: '17.00',
                        text: 'Приезд и штатная проверка'
                    }
                }
            }
        }
    include ../route/events/group