extends ../layout

block title
    | #{titles.index.text}

block header
    - md_header = {mode: 'default', text: titles.index.text, number: titles.index.number}
    - menus.lg_top.left.index.current = true
    - menus.md_top.index.current = true
    include ../layout/header

block main
    main(class="asgar--container w-full mx-auto px-5 md:px-6 sm:px-5 xs:px-3 flex-grow")
        - title = titles.index
        include ../partials/h1

block footer
    include ../layout/footer