extends ../layouts/auth

block data
    -
        page = {
            title: {
                text: 'Авторизация'
            },
            menu: {
                link: ''
            }
        }

block main
    include ../route/login/info
    include ../route/login/form