extends ../layouts/auth

block data
    -
        page = {
            title: {
                text: 'Восстановление пароля'
            },
            menu: {
                link: 'login.html'
            }
        }

block main
    include ../route/reset/info
    include ../route/reset/form