div(class="relative", x-data="{show: false}", @trigger-pwd.window="show = $event.detail.show")
    input(name=password.name, aria-label=password.label, placeholder=password.placeholder, class="pr-10", data-c-auth-input, :type="show ? 'text' : 'password'")

    button(type="button", aria-label="Показать пароль", data-c-auth-pwd-btn, @click="$dispatch('trigger-pwd', {show: true})", :class="{hidden: show}")
        - svg = {width: 22, height: 20, name: 'show'}
        include ../../partials/routes/svg

    button(type="button", aria-label="Скрыть пароль", data-c-auth-pwd-btn, @click="$dispatch('trigger-pwd', {show: false})", :class="{hidden: !show}")
        - svg = {width: 22, height: 18, name: 'hide'}
        include ../../partials/routes/svg

if password.desc.length > 0
    p(class="text-xs leading-4 text-purple-80 mt-2 mx-px")
        | #{password.desc}