button(type="submit", class="flex justify-center items-center w-full bg-purple-80 hover:bg-purple-40 focus:bg-purple-40 h-12 md:h-16 sm:h-12 rounded-xl p-1", data-s-auth-submit)
    span(class="font-semibold text-white text-lg sm:text-base leading-5")
        | #{submit}
div(class="flex justify-center items-center w-full h-12 md:h-16 sm:h-12 hidden", data-s-auth-submit-spinner)
    span(class="animate-spin-slow")
        svg(class="max-w-full max-h-full", xmlns="http://www.w3.org/2000/svg", width="24", height="24", viewBox="0 0 512 512")
            path(fill="currentColor", d="M304 48c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.49 48 48zm-48 368c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zm208-208c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.49-48-48-48zM96 256c0-26.51-21.49-48-48-48S0 229.49 0 256s21.49 48 48 48 48-21.49 48-48zm12.922 99.078c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.491-48-48-48zm294.156 0c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48c0-26.509-21.49-48-48-48zM108.922 60.922c-26.51 0-48 21.49-48 48s21.49 48 48 48 48-21.49 48-48-21.491-48-48-48z")
    span(class="font-normal text-base sm:text-xs leading-6 md:leading-5 sm:leading-4 ml-2")
        | Загрузка &hellip;