-
    icons = {
        user : {
            box: '0 0 22 22',
            path: 'M11.2105 0.33252C12.625 0.33252 13.9815 0.894422 14.9817 1.89462C15.9819 2.89481 16.5438 4.25136 16.5438 5.66585C16.5438 7.08034 15.9819 8.43689 14.9817 9.43709C13.9815 10.4373 12.625 10.9992 11.2105 10.9992C9.796 10.9992 8.43945 10.4373 7.43925 9.43709C6.43906 8.43689 5.87716 7.08034 5.87716 5.66585C5.87716 4.25136 6.43906 2.89481 7.43925 1.89462C8.43945 0.894422 9.796 0.33252 11.2105 0.33252ZM11.2105 2.99919C10.5032 2.99919 9.82497 3.28014 9.32487 3.78023C8.82477 4.28033 8.54382 4.95861 8.54382 5.66585C8.54382 6.3731 8.82477 7.05137 9.32487 7.55147C9.82497 8.05157 10.5032 8.33252 11.2105 8.33252C11.9177 8.33252 12.596 8.05157 13.0961 7.55147C13.5962 7.05137 13.8772 6.3731 13.8772 5.66585C13.8772 4.95861 13.5962 4.28033 13.0961 3.78023C12.596 3.28014 11.9177 2.99919 11.2105 2.99919ZM11.2105 12.3325C14.7705 12.3325 21.8772 14.1059 21.8772 17.6659V21.6659H0.543823V17.6659C0.543823 14.1059 7.65049 12.3325 11.2105 12.3325ZM11.2105 14.8659C7.25049 14.8659 3.07716 16.8125 3.07716 17.6659V19.1325H19.3438V17.6659C19.3438 16.8125 15.1705 14.8659 11.2105 14.8659Z'
        },
        calendar: {
            box: '0 0 14 16',
            path: 'M4.75 6.83594V8.33594H3.25V6.83594H4.75ZM7.75 6.83594V8.33594H6.25V6.83594H7.75ZM10.75 6.83594V8.33594H9.25V6.83594H10.75ZM12.25 1.58594C12.6478 1.58594 13.0294 1.74397 13.3107 2.02528C13.592 2.30658 13.75 2.68811 13.75 3.08594V13.5859C13.75 13.9838 13.592 14.3653 13.3107 14.6466C13.0294 14.9279 12.6478 15.0859 12.25 15.0859H1.75C0.9175 15.0859 0.25 14.4109 0.25 13.5859V3.08594C0.25 2.68811 0.408035 2.30658 0.68934 2.02528C0.970644 1.74397 1.35218 1.58594 1.75 1.58594H2.5V0.0859375H4V1.58594H10V0.0859375H11.5V1.58594H12.25ZM12.25 13.5859V5.33594H1.75V13.5859H12.25ZM4.75 9.83594V11.3359H3.25V9.83594H4.75ZM7.75 9.83594V11.3359H6.25V9.83594H7.75ZM10.75 9.83594V11.3359H9.25V9.83594H10.75Z'
        }
    }
svg(class="max-w-full max-h-full", xmlns="http://www.w3.org/2000/svg", width=svg.width, height=svg.height, viewBox=icons[svg.name]['box'])
    path(fill="currentColor", d=icons[svg.name]['path'])