div(class="flex justify-center items-center mb-12 md:mb-16 sm:mb-10")
    a(href="reset.html", class="font-normal text-base sm:text-xs leading-6 md:leading-5 sm:leading-4 text-purple-80 hover:text-purple-40 focus:text-purple-40")
        | Забыл пароль