img(src="img/logo.png", alt="", class="block object-contain h-24 md:h-48 sm:h-40 w-full mx-auto mb-5 md:mb-20 sm:mb-12")

h1(class="text-center font-bold text-black text-3xl leading-9 sm:text-2xl sm:leading-7 xs:text-xl mb-10 sm:mb-8")
    | #{page.title.text}