h1(class="text-center font-bold text-black text-3xl leading-9 sm:text-2xl sm:leading-7 xs:text-xl md:text-left mb-2 md:mb-4")
    | #{page.title.text}

div(class="max-w-xs md:max-w-full mx-auto md:mx-px mb-10 md:mb-12 sm:mb-10")

    p(class="text-center md:text-left font-medium text-gray-60 text-sm md:text-base sm:text-sm leading-5 md:leading-7 sm:leading-5 -mx-2 md:mx-0")
        | Для восстановления вашего пароля необходимо ввести свой логин, далее создайте новый пароль,
        | который не будет повторять предыдущий