div(x-data="maxHeightData()", x-init="maxHeightClick", x-spread="maxHeightResize")
    div(class="bg-gray-20 rounded-md flex-shrink-0 py-4 px-3 sm:px-2")
        div(class="flex justify-between items-center space-x-1")
            div(class="flex justify-start lg:justify-between items-center flex-grow space-x-2")
                span(class="font-bold text-base md:text-lg sm:text-sm text-black leading-tight")
                    | #{card.title}
                include badge
            - cls = 'flex justify-center items-center flex-shrink-0 w-5 sm:w-4 h-5 sm:h-4 text-gray-80 hover:text-purple-40 focus:text-purple-40 transition-transform duration-500 ease-linear transform'
            button(type="button", class=cls, :class="show ? '-rotate-90' : 'rotate-90'", @click="show = !show")
                - svg = {width: 6, height: 9, name: 'chevron'}
                include ../../partials/routes/svg

        div(class="overflow-hidden transition-all ease-linear duration-300", x-ref="max_h_outer", style="max-height: 0")
            div(class="flex justify-start items-center pt-4", x-ref="max_h_inner")
                span(class="text-xs md:text-base sm:text-xs leading-tight text-gray-60")
                    | !{card.text}