span(class="flex justify-center items-center text-purple-80 h-4 w-4")
    - svg = {width: menu.svg.width, height: menu.svg.height, name: menu.svg.name}
    include ../../../../partials/routes/svg
span(class="font-medium text-xs leading-4 mx-1")
    | #{menu.text}