if card.badge.type !== undefined
    case card.badge.type
        when 'number'
            if card.badge.number > 0
                span(class="flex text-sm sm:text-xs h-6 sm:h-5 min-w-6 sm:min-w-5 text-white flex-shrink-0")
                    span(class="flex justify-center items-center px-1 rounded-full flex-grow bg-pink")
                        span(class="font-medium leading-tight")
                            | #{card.badge.number}
        when 'status'
            - color = card.badge.status ? ' bg-green-70' : ' bg-red-70'
            span(class="flex text-sm sm:text-xs h-6 sm:h-5 min-w-6 sm:min-w-5 text-white flex-shrink-0")
                span(class="flex justify-center items-center px-2 rounded-full flex-grow" + color)
                    span(class="font-medium leading-tight")
                        | #{card.badge.text}