a(href=pay, class="flex justify-center items-center flex-grow w-40 md:w-full h-12 md:h-16 sm:h-12 rounded-lg text-white bg-purple-80 hover:bg-purple-40 focus:bg-purple-40")
    span(class="font-medium text-sm md:text-lg sm:text-sm")
        | Оплатить онлайн
a(href=account, class="flex justify-center items-center flex-grow w-40 md:w-full h-12 md:h-16 sm:h-12 rounded-lg text-purple-80 hover:text-purple-40 focus:text-purple-40 bg-white border border-purple-80 hover:border-purple-40 focus:border-purple-40")
    span(class="font-medium text-sm md:text-lg sm:text-sm")
        | Выставить счет