div(class="flex justify-end items-center")
    span(class="text-white text-sm sm:text-xs")
        | Пультовый номер
    span(class="flex justify-center items-center h-6 sm:h-5 rounded-full bg-green-70 px-3 sm:px-2 ml-3 sm:ml-2")
        span(class="text-white text-sm sm:text-xs")
            | #{page.menu.console_number}