footer
    div(class="block md:hidden h-10")
    div(class="bg-gray-20 shadow-lg transform rotate-180 hidden md:block mt-8")
        div(class="asgar--container w-full mx-auto px-5 md:px-6 sm:px-5 xs:px-3")
            div(class="grid grid-cols-5 transform rotate-180 h-20 sm:h-16")
                each menu in menus.md_bottom
                    include menu/md-bottom