header
    //- lg верхнее
    div(class="bg-purple-80 md:hidden")
        div(class="asgar--container w-full mx-auto px-5 md:px-6 sm:px-5 xs:px-3 flex justify-between")
            each edge in menus.lg_top
                div(class="flex justify-start items-center space-x-8")
                    each menu in edge
                        include menu/lg-top
    //- lg нижнее
    div(class="bg-white md:hidden shadow-lg mb-5")
        div(class="asgar--container w-full mx-auto px-5 md:px-6 sm:px-5 xs:px-3")
            div(class="flex justify-start items-center space-x-5")
                each menu in menus.lg_bottom
                    include menu/lg-bottom
    //- md боковое
    div(class="bg-purple-80 hidden md:block fixed z-10 top-0 bottom-0 left-0 w-3/4 overflow-y-auto overflow-x-hidden transition duration-500 ease-in-out transform -translate-x-full shadow-none asgar---header-menu")
        div(class="px-3")
            div(class="flex justify-end items-center h-16 sm:h-12 mb-1")
                button(type="button", class="flex justify-center items-center p-1 h-8 sm:h-6 w-8 sm:w-6 text-white hover:text-purple-20 focus:text-purple-20 asgar---header-menu-hide")
                    svg(class="max-w-full max-h-full", xmlns="http://www.w3.org/2000/svg", width="20", height="20", viewBox="0 0 20 20")
                        path(fill="currentColor", d="M19.4139 2.59778L17.53 0.713867L10.0612 8.18273L2.59229 0.713867L0.708374 2.59778L8.17724 10.0666L0.708374 17.5355L2.59229 19.4194L10.0612 11.9506L17.53 19.4194L19.4139 17.5355L11.9451 10.0666L19.4139 2.59778Z")
            each menu in menus.md_top
                include menu/md-top
    //- md гамбургер
    div(class="bg-purple-80 hidden md:block px-6 sm:px-5 xs:px-3")
        div(class="flex justify-between items-center h-24 sm:h-16 py-2")
            button(type="button", class="flex justify-center items-center p-1 h-8 sm:h-6 w-8 sm:w-6 text-white hover:text-purple-20 focus:text-purple-20 asgar---header-menu-show")
                svg(class="max-w-full max-h-full", xmlns="http://www.w3.org/2000/svg", width="25", height="16", viewBox="0 0 25 16")
                    path(fill="currentColor", d="M0.722229 0H24.7222V2.66667H0.722229V0ZM0.722229 6.66667H24.7222V9.33333H0.722229V6.66667ZM0.722229 13.3333H24.7222V16H0.722229V13.3333Z")
            case md_header.mode
                when 'contracts'
                    include md-header/contracts
                when 'contract'
                    include md-header/contract
                default
                    include md-header/default