extends ../layouts/app

block data
    -
        page = {
            title: {
                text: 'Договоры',
                number: 2
            },
            menu: {
                mode: 'contracts'
            },
            link: 'contracts.html'
        }

block main
    - sum = 320.15
    - pay = '#'
    - account = '#'
    include ../page/contracts/info
    -
        group = {
            title: 'Договоры',
            number: 4,
            cards: {
                0: {
                    title: 'Договор № 64321',
                    link: 'contract.html',
                    address: 'пр. Московский 172/12',
                    debt: true,
                    sum: '102.00'
                },
                1: {
                    title: 'Договор № 057264',
                    link: 'contract.html',
                    address: 'пр. Московский 172/12',
                    debt: false,
                    sum: '102.00'
                },
                2: {
                    title: 'Договор № 44345',
                    link: 'contract.html',
                    address: 'пр. Московский 172/12',
                    debt: false,
                    sum: '102.00'
                },
                3: {
                    title: 'Договор № 44345',
                    link: 'contract.html',
                    address: 'пр. Московский 172/12',
                    debt: false,
                    sum: '102.00'
                }
            }
        }
    include ../page/contracts/group
    - pay = '#'
    - account = '#'
    include ../page/contracts/bottom