extends ../layouts/app

block data
    -
        page = {
            title: {
                text: 'Договор № 842145',
                number: 0
            },
            menu: {
                mode: 'contract',
                console_number: 657867643543
            },
            link: 'contract.html'
        }

block main
        - console_number = 657867643543
        include ../page/contract/console
        - address = 'пр. Московский 172/12'
        - debt = 320.15
        - balance = 320.15
        - sum = 320.15
        - pay = '#'
        include ../page/contract/info
        -
            signers = {
                0: 'Иванов Иван Иванович'
            }
        -
            confidants = {
                0: 'Иванов Иван Иванович',
                1: 'Петров Пётр Петрович',
                2: 'Сидоров Сидор Сидорович Пётр Петрович',
            }
        -
            equipments = {
                0: '.',
                1: '..',
                2: '...'
            }
        -
            alarm = {
                status: true,
                text: 'Активна'
            }
        include ../page/contract/group