extends ../layouts/app

block data
    -
        page = {
            title: {
                text: 'Контакты',
                number: 0
            },
            menu: {
                mode: 'default'
            },
            link: 'contacts.html'
        }

block main
    include ../partials/pages/h1
    -
        cards = {
            0: {
                id: 1,
                title: 'Заказать выезд технического специалиста',
                phone: '+38 (095) 123-45-67',
                email: ''
            },
            1: {
                id: 0,
                title: 'Связаться с пультом охраны',
                phone: '+38 (095) 123-45-67',
                email: ''
            },
            2: {
                id: 2,
                title: 'Связаться с юридическим отделом',
                phone: '+38 (095) 123-45-67',
                email: ''
            },
            3: {
                id: 3,
                title: 'Связаться с финансовым отделом',
                phone: '+38 (095) 123-45-67',
                email: ''
            },
            4: {
                id: 4,
                title: 'Заказать новое подключение',
                phone: '+38 (095) 123-45-67',
                email: ''
            },
            5: {
                id: 5,
                title: 'Заказать дооборудование системы',
                phone: '+38 (095) 123-45-67',
                email: ''
            },
            6: {
                id: 6,
                title: 'Техническая поддержка',
                phone: '+38 (095) 123-45-67',
                email: 'mail@mail.com'
            }
        }
    include ../page/contacts/group