extends ../layouts/auth

block data
    -
        page = {
            title: {
                text: 'Авторизация'
            }
        }

block main
    include ../page/login/info
    include ../page/login/form