link(rel="preload", as="font", type="font/woff2", crossorigin="anonymous", href="./fonts/Lato-Black.woff2")
link(rel="preload", as="font", type="font/woff2", crossorigin="anonymous", href="./fonts/Lato-Bold.woff2")
link(rel="preload", as="font", type="font/woff2", crossorigin="anonymous", href="./fonts/Lato-Hairline.woff2")
link(rel="preload", as="font", type="font/woff2", crossorigin="anonymous", href="./fonts/Lato-Heavy.woff2")
link(rel="preload", as="font", type="font/woff2", crossorigin="anonymous", href="./fonts/Lato-Light.woff2")
link(rel="preload", as="font", type="font/woff2", crossorigin="anonymous", href="./fonts/Lato-Medium.woff2")
link(rel="preload", as="font", type="font/woff2", crossorigin="anonymous", href="./fonts/Lato-Regular.woff2")
link(rel="preload", as="font", type="font/woff2", crossorigin="anonymous", href="./fonts/Lato-Semibold.woff2")
link(rel="preload", as="font", type="font/woff2", crossorigin="anonymous", href="./fonts/Lato-Thin.woff2")