-
    md_bottom = {
        events: {
            link: 'events.html',
            text: 'История',
            svg: {
                path: 'M17.5676 6.69043H15.5684V13.3545L21.2728 16.7398L22.2325 15.1271L17.5676 12.3549V6.69043ZM16.9012 0.0263672C13.7199 0.0263672 10.6688 1.29016 8.41925 3.53971C6.1697 5.78927 4.90591 8.84033 4.90591 12.0217H0.907471L6.18541 17.3929L11.57 12.0217H7.57153C7.57153 9.54729 8.55448 7.17425 10.3041 5.42459C12.0538 3.67494 14.4268 2.69199 16.9012 2.69199C19.3756 2.69199 21.7486 3.67494 23.4983 5.42459C25.248 7.17425 26.2309 9.54729 26.2309 12.0217C26.2309 14.4961 25.248 16.8691 23.4983 18.6188C21.7486 20.3684 19.3756 21.3514 16.9012 21.3514C14.3289 21.3514 11.9965 20.2984 10.3171 18.6058L8.42453 20.4984C10.597 22.6842 13.5692 24.017 16.9012 24.017C20.0826 24.017 23.1336 22.7532 25.3832 20.5036C27.6327 18.2541 28.8965 15.203 28.8965 12.0217C28.8965 8.84033 27.6327 5.78927 25.3832 3.53971C23.1336 1.29016 20.0826 0.0263672 16.9012 0.0263672Z',
                box: '0 0 29 25',
                width: '29',
                height: '25'
            }
        },
        report: {
            link: 'report.html',
            text: 'Отчёт',
            svg: {
                path: 'M24.1951 2.69199V21.3514H2.87009V2.69199H24.1951ZM24.1951 0.0263672H2.87009C1.39067 0.0263672 0.204468 1.21257 0.204468 2.69199V21.3514C0.204468 22.8308 1.39067 24.017 2.87009 24.017H24.1951C25.6745 24.017 26.8607 22.8308 26.8607 21.3514V2.69199C26.8607 1.21257 25.6745 0.0263672 24.1951 0.0263672ZM21.5295 16.0201H5.53572V18.6857H21.5295V16.0201ZM10.867 5.35762H5.53572V13.3545H10.867V5.35762ZM13.5326 8.02324H21.5295V5.35762H13.5326V8.02324ZM21.5295 10.6889H13.5326V13.3545H21.5295V10.6889Z',
                box: '0 0 27 25',
                width: '27',
                height: '25'
            }
        },
        act: {
            link: 'act.html',
            text: 'Акт',
            svg: {
                path: 'M2.8505 0.583008C2.14326 0.583008 1.46498 0.863959 0.964886 1.36406C0.464789 1.86415 0.183838 2.54243 0.183838 3.24967V13.9163V24.583C0.183838 25.2902 0.464789 25.9685 0.964886 26.4686C1.46498 26.9687 2.14326 27.2497 2.8505 27.2497H18.8505C19.5577 27.2497 20.236 26.9687 20.7361 26.4686C21.2362 25.9685 21.5172 25.2902 21.5172 24.583V8.58301L13.5172 0.583008H2.8505ZM2.8505 3.24967H12.1838V9.91634H18.8505V24.583H2.8505V3.24967ZM5.51717 13.9163V16.583H16.1838V13.9163H5.51717ZM5.51717 19.2497V21.9163H12.1838V19.2497H5.51717Z',
                box: '0 0 22 28',
                width: '22',
                height: '28'
            }
        },
        cameras: {
            link: 'cameras.html',
            text: 'Камеры',
            svg: {
                path: 'M22.1564 0.50362C21.6497 0.46362 21.1164 0.58362 20.623 0.850286L9.08971 7.51695C7.80971 8.26362 7.38305 9.91695 8.11638 11.1703L10.1164 14.6236C10.8497 15.917 12.4764 16.3436 13.7564 15.6103L16.1564 14.2236C16.5164 14.837 17.0497 15.3303 17.703 15.6103V17.9703C17.703 19.4236 18.8897 20.5836 20.3697 20.5836H27.2897V17.9703H20.3697V15.6103C21.583 15.077 22.3697 13.877 22.3697 12.5836C22.3697 11.9703 22.2097 11.397 21.9164 10.8903L25.2897 8.94362C26.583 8.19695 27.023 6.58362 26.2764 5.29029L24.2764 1.83695C23.823 1.03695 23.0097 0.58362 22.1564 0.50362ZM6.24971 11.477L0.623047 12.4103L1.62305 14.1436L4.28971 18.757L5.28971 20.4903L8.91638 16.0903L6.24971 11.477Z',
                box: '0 0 28 21',
                width: '28',
                height: '21'
            }
        },
        control: {
            link: 'control.html',
            text: 'Управление',
            svg: {
                path: 'M11.0628 0.916992C7.00945 0.916992 3.34279 2.55699 0.689453 5.21033L2.56945 7.09033C4.74279 4.91699 7.72945 3.58366 11.0628 3.58366C14.3961 3.58366 17.3828 4.91699 19.5428 7.10366L21.4228 5.22366C18.7828 2.55699 15.1161 0.916992 11.0628 0.916992ZM4.46279 8.98366L6.34279 10.8637C7.55612 9.66366 9.22278 8.91699 11.0628 8.91699C12.9028 8.91699 14.5695 9.66366 15.7828 10.8637L17.6628 8.98366C15.9695 7.29033 13.6361 6.25033 11.0628 6.25033C8.48945 6.25033 6.15612 7.29033 4.46279 8.98366ZM11.0628 20.917C10.3555 20.917 9.67727 20.636 9.17717 20.1359C8.67707 19.6358 8.39612 18.9576 8.39612 18.2503C8.39612 17.5431 8.67707 16.8648 9.17717 16.3647C9.67727 15.8646 10.3555 15.5837 11.0628 15.5837C11.77 15.5837 12.4483 15.8646 12.9484 16.3647C13.4485 16.8648 13.7295 17.5431 13.7295 18.2503C13.7295 18.9576 13.4485 19.6358 12.9484 20.1359C12.4483 20.636 11.77 20.917 11.0628 20.917ZM15.0628 12.917H7.06279C6.70916 12.917 6.37003 13.0575 6.11998 13.3075C5.86993 13.5576 5.72945 13.8967 5.72945 14.2503V30.2503C5.72945 30.6039 5.86993 30.9431 6.11998 31.1931C6.37003 31.4432 6.70916 31.5837 7.06279 31.5837H15.0628C15.4164 31.5837 15.7555 31.4432 16.0056 31.1931C16.2556 30.9431 16.3961 30.6039 16.3961 30.2503V14.2503C16.3961 13.8967 16.2556 13.5576 16.0056 13.3075C15.7555 13.0575 15.4164 12.917 15.0628 12.917Z',
                box: '0 0 22 32',
                width: '22',
                height: '32'
            }
        }
    }
footer
    div(class="block md:hidden h-10")
    div(class="bg-gray-20 shadow-lg transform rotate-180 hidden md:block mt-8")
        div(class="w-full mx-auto px-5 md:px-6 sm:px-5 xs:px-3", data-c-container)
            div(class="grid grid-cols-5 transform rotate-180 h-20 sm:h-16")
                each menu in md_bottom
                    include menu/md-bottom