header
    -
        lg_top = {
            left: {
                index: {
                    link: 'index.html',
                    text: 'Главная',
                    number: 0,
                    svg: {
                        path: 'M11.0833 23.2666V15.25H16.4277V23.2666H23.1083V12.5777H27.1166L13.7555 0.552734L0.394409 12.5777H4.40274V23.2666H11.0833Z',
                        box: '0 0 28 24',
                        width: '14',
                        height: '12'
                    }
                },
                contracts: {
                    link: 'contracts.html',
                    text: 'Договоры',
                    number: 2,
                    svg: {
                        path: 'M2.73887 0.0471191C1.25579 0.0471191 0.0666504 1.23626 0.0666504 2.71934V24.0971C0.0666504 24.8058 0.348187 25.4855 0.849326 25.9867C1.35046 26.4878 2.03016 26.7693 2.73887 26.7693H8.08332V24.2174L10.8758 21.4249H2.73887V18.7527H13.548L16.2202 16.0805H2.73887V13.4082H18.8925L21.4444 10.8563V8.06379L13.4278 0.0471191H2.73887ZM12.0917 2.05129L19.4403 9.3999H12.0917V2.05129ZM21.6448 14.7443C21.4444 14.7443 21.2574 14.8111 21.1104 14.9581L19.7476 16.321L22.54 19.1001L23.9029 17.7506C24.1835 17.4566 24.1835 16.9756 23.9029 16.6951L22.1659 14.9581C22.019 14.8111 21.8319 14.7443 21.6448 14.7443ZM18.9593 17.1093L10.7555 25.3263V28.1055H13.5347L21.7517 19.8884L18.9593 17.1093Z',
                        box: '0 0 25 29',
                        width: '13',
                        height: '15'
                    }
                },
                settings: {
                    link: 'settings.html',
                    text: 'Настройки',
                    number: 0,
                    svg: {
                        path: 'M13.7554 18.4596C12.5152 18.4596 11.3257 17.9669 10.4487 17.0899C9.57175 16.2129 9.07906 15.0235 9.07906 13.7832C9.07906 12.543 9.57175 11.3535 10.4487 10.4765C11.3257 9.59953 12.5152 9.10684 13.7554 9.10684C14.9957 9.10684 16.1852 9.59953 17.0622 10.4765C17.9391 11.3535 18.4318 12.543 18.4318 13.7832C18.4318 15.0235 17.9391 16.2129 17.0622 17.0899C16.1852 17.9669 14.9957 18.4596 13.7554 18.4596ZM23.6828 15.0793C23.7362 14.6517 23.7763 14.2241 23.7763 13.7832C23.7763 13.3423 23.7362 12.9014 23.6828 12.4471L26.502 10.2693C26.7558 10.0688 26.8226 9.70809 26.6623 9.41415L23.9901 4.7912C23.8297 4.49726 23.469 4.37701 23.175 4.49726L19.8481 5.83337C19.1533 5.31229 18.4318 4.85801 17.5901 4.52398L17.0957 0.983286C17.0423 0.662619 16.7617 0.422119 16.4277 0.422119H11.0832C10.7492 0.422119 10.4686 0.662619 10.4152 0.983286L9.92081 4.52398C9.07906 4.85801 8.35756 5.31229 7.66278 5.83337L4.33587 4.49726C4.04192 4.37701 3.68117 4.49726 3.52084 4.7912L0.848616 9.41415C0.674922 9.70809 0.755089 10.0688 1.00895 10.2693L3.82814 12.4471C3.7747 12.9014 3.73462 13.3423 3.73462 13.7832C3.73462 14.2241 3.7747 14.6517 3.82814 15.0793L1.00895 17.2972C0.755089 17.4976 0.674922 17.8584 0.848616 18.1523L3.52084 22.7753C3.68117 23.0692 4.04192 23.1761 4.33587 23.0692L7.66278 21.7197C8.35756 22.2542 9.07906 22.7085 9.92081 23.0425L10.4152 26.5832C10.4686 26.9038 10.7492 27.1443 11.0832 27.1443H16.4277C16.7617 27.1443 17.0423 26.9038 17.0957 26.5832L17.5901 23.0425C18.4318 22.6951 19.1533 22.2542 19.8481 21.7197L23.175 23.0692C23.469 23.1761 23.8297 23.0692 23.9901 22.7753L26.6623 18.1523C26.8226 17.8584 26.7558 17.4976 26.502 17.2972L23.6828 15.0793Z',
                        box: '0 0 27 28',
                        width: '14',
                        height: '14'
                    }
                },
                contacts: {
                    link: 'contacts.html',
                    text: 'Контакты',
                    number: 0,
                    svg: {
                        path: 'M5.56731 10.6278C7.49131 14.409 10.5911 17.5088 14.3723 19.4328L17.3117 16.4933C17.6858 16.1192 18.2069 16.0123 18.6746 16.1593C20.171 16.6536 21.7743 16.9209 23.4445 16.9209C23.7988 16.9209 24.1387 17.0616 24.3893 17.3122C24.6398 17.5628 24.7806 17.9026 24.7806 18.257V22.9334C24.7806 23.2877 24.6398 23.6276 24.3893 23.8781C24.1387 24.1287 23.7988 24.2695 23.4445 24.2695C17.4204 24.2695 11.643 21.8764 7.38333 17.6167C3.12365 13.3571 0.730591 7.57969 0.730591 1.55559C0.730591 1.20123 0.871359 0.86139 1.12193 0.61082C1.3725 0.360251 1.71234 0.219482 2.0667 0.219482H6.74309C7.09745 0.219482 7.43729 0.360251 7.68786 0.61082C7.93843 0.86139 8.0792 1.20123 8.0792 1.55559C8.0792 3.22573 8.34642 4.82907 8.84079 6.32551C8.98776 6.79315 8.88087 7.31423 8.50676 7.68834L5.56731 10.6278Z',
                        box: '0 0 25 25',
                        width: '12',
                        height: '12'
                    }
                },
            },
            right: {
                login: {
                    link: 'login.html',
                    text: 'Выход',
                    number: 0,
                    svg: {
                        path: 'M22.1084 0.680664H3.40281C1.91973 0.680664 0.730591 1.8698 0.730591 3.35289V8.69733H3.40281V3.35289H22.1084V22.0584H3.40281V16.714H0.730591V22.0584C0.730591 22.7672 1.01213 23.4468 1.51327 23.948C2.01441 24.4491 2.6941 24.7307 3.40281 24.7307H22.1084C22.8171 24.7307 23.4968 24.4491 23.9979 23.948C24.4991 23.4468 24.7806 22.7672 24.7806 22.0584V3.35289C24.7806 1.8698 23.5781 0.680664 22.1084 0.680664ZM10.1903 17.4889L12.0875 19.3862L18.7681 12.7057L12.0875 6.02511L10.1903 7.90902L13.6508 11.3696H0.730591V14.0418H13.6508L10.1903 17.4889Z',
                        box: '0 0 25 25',
                        width: '12',
                        height: '12'
                    }
                },
            },
        }
    div(class="bg-purple-80 md:hidden")
        div(class="w-full mx-auto px-5 md:px-6 sm:px-5 xs:px-3 flex justify-between", data-c-container)
            each edge in lg_top
                div(class="flex justify-start items-center space-x-8")
                    each menu in edge
                        include menu/lg-top
    -
        lg_bottom = {
            events: {
                link: 'events.html',
                text: 'История',
                svg: {
                    path: 'M17.5676 6.69043H15.5684V13.3545L21.2728 16.7398L22.2325 15.1271L17.5676 12.3549V6.69043ZM16.9012 0.0263672C13.7199 0.0263672 10.6688 1.29016 8.41925 3.53971C6.1697 5.78927 4.90591 8.84033 4.90591 12.0217H0.907471L6.18541 17.3929L11.57 12.0217H7.57153C7.57153 9.54729 8.55448 7.17425 10.3041 5.42459C12.0538 3.67494 14.4268 2.69199 16.9012 2.69199C19.3756 2.69199 21.7486 3.67494 23.4983 5.42459C25.248 7.17425 26.2309 9.54729 26.2309 12.0217C26.2309 14.4961 25.248 16.8691 23.4983 18.6188C21.7486 20.3684 19.3756 21.3514 16.9012 21.3514C14.3289 21.3514 11.9965 20.2984 10.3171 18.6058L8.42453 20.4984C10.597 22.6842 13.5692 24.017 16.9012 24.017C20.0826 24.017 23.1336 22.7532 25.3832 20.5036C27.6327 18.2541 28.8965 15.203 28.8965 12.0217C28.8965 8.84033 27.6327 5.78927 25.3832 3.53971C23.1336 1.29016 20.0826 0.0263672 16.9012 0.0263672Z',
                    box: '0 0 29 25',
                    width: '15',
                    height: '12'
                }
            },
            report: {
                link: 'report.html',
                text: 'Отчёт',
                svg: {
                    path: 'M24.1951 2.69199V21.3514H2.87009V2.69199H24.1951ZM24.1951 0.0263672H2.87009C1.39067 0.0263672 0.204468 1.21257 0.204468 2.69199V21.3514C0.204468 22.8308 1.39067 24.017 2.87009 24.017H24.1951C25.6745 24.017 26.8607 22.8308 26.8607 21.3514V2.69199C26.8607 1.21257 25.6745 0.0263672 24.1951 0.0263672ZM21.5295 16.0201H5.53572V18.6857H21.5295V16.0201ZM10.867 5.35762H5.53572V13.3545H10.867V5.35762ZM13.5326 8.02324H21.5295V5.35762H13.5326V8.02324ZM21.5295 10.6889H13.5326V13.3545H21.5295V10.6889Z',
                    box: '0 0 27 25',
                    width: '14',
                    height: '12'
                }
            },
            act: {
                link: 'act.html',
                text: 'Акт',
                svg: {
                    path: 'M2.8505 0.583008C2.14326 0.583008 1.46498 0.863959 0.964886 1.36406C0.464789 1.86415 0.183838 2.54243 0.183838 3.24967V13.9163V24.583C0.183838 25.2902 0.464789 25.9685 0.964886 26.4686C1.46498 26.9687 2.14326 27.2497 2.8505 27.2497H18.8505C19.5577 27.2497 20.236 26.9687 20.7361 26.4686C21.2362 25.9685 21.5172 25.2902 21.5172 24.583V8.58301L13.5172 0.583008H2.8505ZM2.8505 3.24967H12.1838V9.91634H18.8505V24.583H2.8505V3.24967ZM5.51717 13.9163V16.583H16.1838V13.9163H5.51717ZM5.51717 19.2497V21.9163H12.1838V19.2497H5.51717Z',
                    box: '0 0 22 28',
                    width: '12',
                    height: '14'
                }
            },
            cameras: {
                link: 'cameras.html',
                text: 'Камеры',
                svg: {
                    path: 'M22.1564 0.50362C21.6497 0.46362 21.1164 0.58362 20.623 0.850286L9.08971 7.51695C7.80971 8.26362 7.38305 9.91695 8.11638 11.1703L10.1164 14.6236C10.8497 15.917 12.4764 16.3436 13.7564 15.6103L16.1564 14.2236C16.5164 14.837 17.0497 15.3303 17.703 15.6103V17.9703C17.703 19.4236 18.8897 20.5836 20.3697 20.5836H27.2897V17.9703H20.3697V15.6103C21.583 15.077 22.3697 13.877 22.3697 12.5836C22.3697 11.9703 22.2097 11.397 21.9164 10.8903L25.2897 8.94362C26.583 8.19695 27.023 6.58362 26.2764 5.29029L24.2764 1.83695C23.823 1.03695 23.0097 0.58362 22.1564 0.50362ZM6.24971 11.477L0.623047 12.4103L1.62305 14.1436L4.28971 18.757L5.28971 20.4903L8.91638 16.0903L6.24971 11.477Z',
                    box: '0 0 28 21',
                    width: '14',
                    height: '11'
                }
            },
            control: {
                link: 'control.html',
                text: 'Управление',
                svg: {
                    path: 'M11.0628 0.916992C7.00945 0.916992 3.34279 2.55699 0.689453 5.21033L2.56945 7.09033C4.74279 4.91699 7.72945 3.58366 11.0628 3.58366C14.3961 3.58366 17.3828 4.91699 19.5428 7.10366L21.4228 5.22366C18.7828 2.55699 15.1161 0.916992 11.0628 0.916992ZM4.46279 8.98366L6.34279 10.8637C7.55612 9.66366 9.22278 8.91699 11.0628 8.91699C12.9028 8.91699 14.5695 9.66366 15.7828 10.8637L17.6628 8.98366C15.9695 7.29033 13.6361 6.25033 11.0628 6.25033C8.48945 6.25033 6.15612 7.29033 4.46279 8.98366ZM11.0628 20.917C10.3555 20.917 9.67727 20.636 9.17717 20.1359C8.67707 19.6358 8.39612 18.9576 8.39612 18.2503C8.39612 17.5431 8.67707 16.8648 9.17717 16.3647C9.67727 15.8646 10.3555 15.5837 11.0628 15.5837C11.77 15.5837 12.4483 15.8646 12.9484 16.3647C13.4485 16.8648 13.7295 17.5431 13.7295 18.2503C13.7295 18.9576 13.4485 19.6358 12.9484 20.1359C12.4483 20.636 11.77 20.917 11.0628 20.917ZM15.0628 12.917H7.06279C6.70916 12.917 6.37003 13.0575 6.11998 13.3075C5.86993 13.5576 5.72945 13.8967 5.72945 14.2503V30.2503C5.72945 30.6039 5.86993 30.9431 6.11998 31.1931C6.37003 31.4432 6.70916 31.5837 7.06279 31.5837H15.0628C15.4164 31.5837 15.7555 31.4432 16.0056 31.1931C16.2556 30.9431 16.3961 30.6039 16.3961 30.2503V14.2503C16.3961 13.8967 16.2556 13.5576 16.0056 13.3075C15.7555 13.0575 15.4164 12.917 15.0628 12.917Z',
                    box: '0 0 22 32',
                    width: '12',
                    height: '16'
                }
            }
        }
    div(class="bg-white md:hidden shadow-lg mb-5")
        div(class="w-full mx-auto px-5 md:px-6 sm:px-5 xs:px-3", data-c-container)
            div(class="flex justify-start items-center space-x-5")
                each menu in lg_bottom
                    include menu/lg-bottom
    -
        md_top = {
            index: {
                link: 'index.html',
                text: 'Главная',
                number: 0,
                svg: {
                    path: 'M11.0833 23.2666V15.25H16.4277V23.2666H23.1083V12.5777H27.1166L13.7555 0.552734L0.394409 12.5777H4.40274V23.2666H11.0833Z',
                    box: '0 0 28 24',
                    width: '28',
                    height: '24'
                },
                children: {}
            },
            contracts: {
                link: 'contracts.html',
                text: 'Договоры',
                number: 2,
                svg: {
                    path: 'M2.73887 0.0471191C1.25579 0.0471191 0.0666504 1.23626 0.0666504 2.71934V24.0971C0.0666504 24.8058 0.348187 25.4855 0.849326 25.9867C1.35046 26.4878 2.03016 26.7693 2.73887 26.7693H8.08332V24.2174L10.8758 21.4249H2.73887V18.7527H13.548L16.2202 16.0805H2.73887V13.4082H18.8925L21.4444 10.8563V8.06379L13.4278 0.0471191H2.73887ZM12.0917 2.05129L19.4403 9.3999H12.0917V2.05129ZM21.6448 14.7443C21.4444 14.7443 21.2574 14.8111 21.1104 14.9581L19.7476 16.321L22.54 19.1001L23.9029 17.7506C24.1835 17.4566 24.1835 16.9756 23.9029 16.6951L22.1659 14.9581C22.019 14.8111 21.8319 14.7443 21.6448 14.7443ZM18.9593 17.1093L10.7555 25.3263V28.1055H13.5347L21.7517 19.8884L18.9593 17.1093Z',
                    box: '0 0 25 29',
                    width: '25',
                    height: '29'
                },
                children: {
                    0: {
                        link: 'contract.html',
                        text: 'Договор № 1'
                    },
                    1: {
                        link: 'contract.html',
                        text: 'Договор № 2'
                    }
                }
            },
            settings: {
                link: 'settings.html',
                text: 'Настройки',
                number: 0,
                svg: {
                    path: 'M13.7554 18.4596C12.5152 18.4596 11.3257 17.9669 10.4487 17.0899C9.57175 16.2129 9.07906 15.0235 9.07906 13.7832C9.07906 12.543 9.57175 11.3535 10.4487 10.4765C11.3257 9.59953 12.5152 9.10684 13.7554 9.10684C14.9957 9.10684 16.1852 9.59953 17.0622 10.4765C17.9391 11.3535 18.4318 12.543 18.4318 13.7832C18.4318 15.0235 17.9391 16.2129 17.0622 17.0899C16.1852 17.9669 14.9957 18.4596 13.7554 18.4596ZM23.6828 15.0793C23.7362 14.6517 23.7763 14.2241 23.7763 13.7832C23.7763 13.3423 23.7362 12.9014 23.6828 12.4471L26.502 10.2693C26.7558 10.0688 26.8226 9.70809 26.6623 9.41415L23.9901 4.7912C23.8297 4.49726 23.469 4.37701 23.175 4.49726L19.8481 5.83337C19.1533 5.31229 18.4318 4.85801 17.5901 4.52398L17.0957 0.983286C17.0423 0.662619 16.7617 0.422119 16.4277 0.422119H11.0832C10.7492 0.422119 10.4686 0.662619 10.4152 0.983286L9.92081 4.52398C9.07906 4.85801 8.35756 5.31229 7.66278 5.83337L4.33587 4.49726C4.04192 4.37701 3.68117 4.49726 3.52084 4.7912L0.848616 9.41415C0.674922 9.70809 0.755089 10.0688 1.00895 10.2693L3.82814 12.4471C3.7747 12.9014 3.73462 13.3423 3.73462 13.7832C3.73462 14.2241 3.7747 14.6517 3.82814 15.0793L1.00895 17.2972C0.755089 17.4976 0.674922 17.8584 0.848616 18.1523L3.52084 22.7753C3.68117 23.0692 4.04192 23.1761 4.33587 23.0692L7.66278 21.7197C8.35756 22.2542 9.07906 22.7085 9.92081 23.0425L10.4152 26.5832C10.4686 26.9038 10.7492 27.1443 11.0832 27.1443H16.4277C16.7617 27.1443 17.0423 26.9038 17.0957 26.5832L17.5901 23.0425C18.4318 22.6951 19.1533 22.2542 19.8481 21.7197L23.175 23.0692C23.469 23.1761 23.8297 23.0692 23.9901 22.7753L26.6623 18.1523C26.8226 17.8584 26.7558 17.4976 26.502 17.2972L23.6828 15.0793Z',
                    box: '0 0 27 28',
                    width: '27',
                    height: '28'
                },
                children: {}
            },
            contacts: {
                link: 'contacts.html',
                text: 'Контакты',
                number: 0,
                svg: {
                    path: 'M5.56731 10.6278C7.49131 14.409 10.5911 17.5088 14.3723 19.4328L17.3117 16.4933C17.6858 16.1192 18.2069 16.0123 18.6746 16.1593C20.171 16.6536 21.7743 16.9209 23.4445 16.9209C23.7988 16.9209 24.1387 17.0616 24.3893 17.3122C24.6398 17.5628 24.7806 17.9026 24.7806 18.257V22.9334C24.7806 23.2877 24.6398 23.6276 24.3893 23.8781C24.1387 24.1287 23.7988 24.2695 23.4445 24.2695C17.4204 24.2695 11.643 21.8764 7.38333 17.6167C3.12365 13.3571 0.730591 7.57969 0.730591 1.55559C0.730591 1.20123 0.871359 0.86139 1.12193 0.61082C1.3725 0.360251 1.71234 0.219482 2.0667 0.219482H6.74309C7.09745 0.219482 7.43729 0.360251 7.68786 0.61082C7.93843 0.86139 8.0792 1.20123 8.0792 1.55559C8.0792 3.22573 8.34642 4.82907 8.84079 6.32551C8.98776 6.79315 8.88087 7.31423 8.50676 7.68834L5.56731 10.6278Z',
                    box: '0 0 25 25',
                    width: '25',
                    height: '25'
                },
                children: {}
            },
            login: {
                link: 'login.html',
                text: 'Выход',
                number: 0,
                svg: {
                    path: 'M22.1084 0.680664H3.40281C1.91973 0.680664 0.730591 1.8698 0.730591 3.35289V8.69733H3.40281V3.35289H22.1084V22.0584H3.40281V16.714H0.730591V22.0584C0.730591 22.7672 1.01213 23.4468 1.51327 23.948C2.01441 24.4491 2.6941 24.7307 3.40281 24.7307H22.1084C22.8171 24.7307 23.4968 24.4491 23.9979 23.948C24.4991 23.4468 24.7806 22.7672 24.7806 22.0584V3.35289C24.7806 1.8698 23.5781 0.680664 22.1084 0.680664ZM10.1903 17.4889L12.0875 19.3862L18.7681 12.7057L12.0875 6.02511L10.1903 7.90902L13.6508 11.3696H0.730591V14.0418H13.6508L10.1903 17.4889Z',
                    box: '0 0 25 25',
                    width: '25',
                    height: '25'
                },
                children: {}
            }
        }
    div(class="bg-purple-80 hidden md:block fixed z-10 top-0 bottom-0 left-0 w-3/4 overflow-y-auto overflow-x-hidden transition duration-500 ease-in-out transform -translate-x-full shadow-none", data-s-header-menu)
        div(class="px-3")
            div(class="flex justify-end items-center h-16 sm:h-12 mb-1")
                button(type="button", class="flex justify-center items-center p-1 h-8 sm:h-6 w-8 sm:w-6 text-white hover:text-purple-20 focus:text-purple-20", data-s-header-menu-hide)
                    svg(class="max-w-full max-h-full", xmlns="http://www.w3.org/2000/svg", width="20", height="20", viewBox="0 0 20 20")
                        path(fill="currentColor", d="M19.4139 2.59778L17.53 0.713867L10.0612 8.18273L2.59229 0.713867L0.708374 2.59778L8.17724 10.0666L0.708374 17.5355L2.59229 19.4194L10.0612 11.9506L17.53 19.4194L19.4139 17.5355L11.9451 10.0666L19.4139 2.59778Z")
            each menu in md_top
                include menu/md-top
    //- гамбургер
    div(class="bg-purple-80 hidden md:block px-6 sm:px-5 xs:px-3")
        div(class="flex justify-between items-center h-24 sm:h-16 py-2")
            button(type="button", class="flex justify-center items-center p-1 h-8 sm:h-6 w-8 sm:w-6 text-white hover:text-purple-20 focus:text-purple-20", data-s-header-menu-show)
                svg(class="max-w-full max-h-full", xmlns="http://www.w3.org/2000/svg", width="25", height="16", viewBox="0 0 25 16")
                    path(fill="currentColor", d="M0.722229 0H24.7222V2.66667H0.722229V0ZM0.722229 6.66667H24.7222V9.33333H0.722229V6.66667ZM0.722229 13.3333H24.7222V16H0.722229V13.3333Z")
            case page.menu.mode
                when 'contracts'
                    include md-header/contracts
                when 'contract'
                    include md-header/contract
                default
                    include md-header/default