span(@click="step = 1", class="inline-flex justify-start items-center text-black hover:text-purple-40 focus:text-purple-40 cursor-pointer")
    span(class="w-8 h-8 flex justify-center items-center")
        - svg = {width: 11, height: 16, name: 'back'}
        include ../../partials/pages/svg
    span(class="text-lg sm:text-base leading-5 mx-1")
        | Назад